section{
    background-color: rgb(218, 29, 61);
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: center;
    margin: 3% auto 50px auto;
    flex-wrap: wrap;
}
.square-container{
    flex: 0 0 32%;
}